
#pk{
  background-color:#550a46;
}
.navbar-toggler:focus,
.navbar-toggler:active:focus{
    outline:none;
}
#pd{
    background-color:#beebe9;
}
#pd1{
    background-color:#273036;
    background-attachment: fixed;
    height: auto;

}

.cool-link {
    display: inline-block;
    color: #88e1f2;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #88e1f2;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.iconify{
  background: url('https://api.iconify.design/ion-list-circle-outline.svg') no-repeat center center / contain;
  background-size: 100% 100%;
  color: #88e1f2;
  width:50px;
  height:50px;
}
#pd12{
    background-color:#222831;

}
.hameid-loader-overlay {
        width: 100%;
        height: 100%;
        background: url("C:/Users/user/OneDrive/Desktop/Final/images/giphy3.gif") center no-repeat #1B1B1B;

        z-index: 99999;
        position: fixed;
    }
.card:hover{
  -webkit-box-shadow:-1px 9px 40px 12px rgba(6, 7, 16, 0.4);
  -moz-box-shadow:-1px 9px 40px -12px rgba(6, 7, 16, 0.4 );
  -box-box-shadow:-1px 9px 40px -12px rgba(6, 7, 16, 0.4);
}
#pk1:hover{
  -webkit-box-shadow:-1px 9px 40px 12px rgba(6, 7, 16, 0.4);
  -moz-box-shadow:-1px 9px 40px -12px rgba(6, 7, 16, 0.4);
  -box-box-shadow:-1px 9px 40px -12px rgba(6, 7, 16, 0.4);
}
.container-fluid{
  background-color: #110133;
}
#id{
  font-color:#beebe9;
}
